.single {
    .site-main {
        .content-single {
            //background: #f8f8f8;
            //padding-top: 50px;
            padding-bottom: 60px;

            .header-single {
                .thumbnail {
                    background-color: #FBFBFB;
                    position: relative;
                    padding-bottom: 38.48214%;
                    @include media-breakpoint-down('md') {
                        padding-bottom: 60%;
                    }

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .post__info {
                    background: $accentColor;
                    color: #fff;
                    padding: 39px;
                    @include media-breakpoint-down('md') {
                        padding: 26px;
                    }

                    .title {
                        font-family: $globalFont;
                        font-size: 40px;
                        color: inherit;
                        letter-spacing: 0;
                        margin-bottom: 0;
                        margin-top: 13px;
                        font-weight: 800;
                        text-transform: uppercase;
                        line-height: 1.2;
                        @include media-breakpoint-down('md') {
                            font-size: 34px;
                        }
                        @include media-breakpoint-down('sm') {
                            font-size: 26px;
                        }
                    }

                    .date {
                        font-family: $globalFont;
                        font-weight: 700;
                        font-size: 10px;
                        color: inherit;
                        letter-spacing: 0.3em;
                        line-height: em(16, 10);
                        text-transform: uppercase;
                    }
                }
            }

            .post-body {
                padding: 78px;
                border: 1px solid #E1E4EB;
                background: #fff;
                color: $accentColor;

                @include media-breakpoint-down('md') {
                    padding: 26px;
                }

                .inner-content {
                    .wp-block-image figcaption {
                        background: white;
                        padding: 13px 20px;
                        text-align: left;
                        font-family: $globalFont;
                        font-weight: 300;
                        font-size: 12px;
                        color: #333333;
                        letter-spacing: 0;
                        margin: 0;
                    }
                }

                .sharing {
                    .sharing-inner {
                        display: flex;
                        align-items: center;
                        margin-top: 35px;
                        color: #8AC53E;

                        > span {
                            font-family: $globalFont;
                            font-weight: bold;
                            font-size: 12px;
                            color: inherit;
                            letter-spacing: .2em;
                            line-height: em(20, 12);
                            display: inline-block;
                            margin-right: 15px;
                            text-transform: uppercase;
                        }

                        .icons {
                            display: flex;

                            > a {
                                display: inline-flex;
                                width: 30px;
                                height: 30px;
                                align-items: center;
                                justify-content: center;
                                background: #8AC53E;
                                margin-right: 20px;
                                outline: none;
                                border-radius: 100%;
                            }
                        }
                    }
                }
            }
        }

        .related-single {
            .related-title {
                font-family: $globalFont;
                font-weight: 800;
                font-size: 25px;
                //color: #333333;
                letter-spacing: 0;
                line-height: 1.2;
                margin-bottom: 26px;
                margin-top: 80px;
                text-transform: uppercase;
                @include media-breakpoint-down('sm') {
                    margin-top: 45px;
                }
            }

            .item {
                @include media-breakpoint-down('md') {
                    margin-bottom: 30px;
                    //&:last-child {
                    //    margin-bottom: 0;
                    //}
                }
                //@extend %ats-library-post-item-inner;

                .item-inner {
                    background: #fff;
                    border: 1px solid #E1E4EB;
                    box-shadow: 1px 2px 4px #00000012;
                    display: flex;
                    height: 100%;

                    .img-wrap {
                        display: block;
                        //padding-bottom: 52%;
                        background-color: #E1E4EB;
                        background-position: center;
                        background-size: cover;
                        width: 130px;
                        flex: 0 0 130px;
                        //img {
                        //    width: 100%;
                        //}
                    }

                    .item-content {
                        align-self: center;
                        padding: 13px 0 26px 26px;
                        width: 100%;

                        .date-time {
                            color: $accentColor;
                            font-size: .625em;
                            text-transform: uppercase;
                            font-weight: 700;
                            letter-spacing: .3em;
                        }

                        .title {
                            font-size: 1.1em;
                            display: block;
                            line-height: 1.2;
                            font-weight: 700;
                            margin-top: .5em;
                            margin-bottom: 0;

                            a {
                                font: inherit;
                                text-decoration: none;
                                letter-spacing: .03em;
                            }
                        }
                    }

                    .btn-more {
                        align-self: center;
                        font-size: 0;
                        flex: 0 0 40px;
                        text-align: center;

                        &:after {
                            content: '';
                            width: 16px;
                            height: 16px;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 256 512'%3E%3Cpath fill='%238ac53e' d='M17.525 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L205.947 256 10.454 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L34.495 36.465c-4.686-4.687-12.284-4.687-16.97 0z'/%3E%3C/svg%3E");
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}
